<div class="container">
  <div class="row">

    <div class="col-md-12 text-center  mt-5"><h2>Wishlist</h2></div>

    <div class="col-md-12 mt-5" *ngIf="wishListArray.length>0">      <!--checking wishlist array if success to show then only show-->

      <app-movie-list [movies]="wishListArray"></app-movie-list>


    </div>

    <div
      class="col-md-12 text-center mt-5"
      *ngIf="wishListArray.length==0 || wishListArray==null"
    >
      <h1>Results not found :(</h1>
    </div>
  </div>
</div>
